<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="login_register.css"
		/>
		<title>Welcome to Citaw</title>
	</head>
	<body>
		<header>
			<img src="images/logo.png" />
			<h1>CITAW</h1>
		</header>

		<section class="login_page_layout">
			<aside class="carouselContainer">
				<img src="images/malupits.jpeg" />
			</aside>
			<main class="loginContainer">
				<form class="loginForm">
					<h1>Login</h1>
					<input
						type="text"
						placeholder="Enter your username"
					/>
					<input
						type="password"
						placeholder="Enter your password"
					/>
					<a
						class="loginButton"
						href="main.html"
						>Login</a
					>
					<a href="google.com">Forgot password?</a>
					<a
						class="registerButton"
						href="register.html"
						>Create new Account</a
					>
				</form>
			</main>
		</section>
		<footer>
			<p>&copy; 2024 CITAW. All rights reserved.</p>
		</footer>
	</body>
</html>
