<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="main.css"
		/>
		<title>CITAW</title>
	</head>
	<body class="mainGrid">
		<nav class="nav">
			<h1>SITAW</h1>
		</nav>
		<main class="productContainer">
			<section class="productFlex">
				<article class="itemContainer">
					<div class="imgShelf">
						<img
							src="jurdan.jpg"
							class="productImg"
						/>
						<div class="imgBanner">
							<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
						</div>
					</div>
					<div class="productDetail">
						<p>jurdan Shoes Pag suot mo to wala ka talo</p>
						<h1><span>₱</span>100</h1>
						<h4><span>₱</span>500</h4>
						<h5>50k+<span>sold</span></h5>
						<div class="starShelf">
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<h5>3,600</h5>
							<img src="addto.png" />
						</div>
					</div>
				</article>
				<article class="itemContainer">
					<div class="imgShelf">
						<img
							src="jurdan.jpg"
							class="productImg"
						/>
						<div class="imgBanner">
							<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
						</div>
					</div>
					<div class="productDetail">
						<p>jurdan Shoes Pag suot mo to wala ka talo</p>
						<h1><span>₱</span>100</h1>
						<h4><span>₱</span>500</h4>
						<h5>50k+<span>sold</span></h5>

						<div class="starShelf">
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<h5>3,600</h5>
							<img src="addto.png" />
						</div>
					</div>
				</article>
				<article class="itemContainer">
					<div class="imgShelf">
						<img
							src="jurdan.jpg"
							class="productImg"
						/>
						<div class="imgBanner">
							<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
						</div>
					</div>
					<div class="productDetail">
						<p>jurdan Shoes Pag suot mo to wala ka talo</p>
						<h1><span>₱</span>100</h1>
						<h4><span>₱</span>500</h4>
						<h5>50k+<span>sold</span></h5>
						<div class="starShelf">
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<h5>3,600</h5>
							<img src="addto.png" />
						</div>
					</div>
				</article>
				<article class="itemContainer">
					<div class="imgShelf">
						<img
							src="jurdan.jpg"
							class="productImg"
						/>
						<div class="imgBanner">
							<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
						</div>
					</div>
					<div class="productDetail">
						<p>jurdan Shoes Pag suot mo to wala ka talo</p>
						<h1><span>₱</span>100</h1>
						<h4><span>₱</span>500</h4>
						<h5>50k+<span>sold</span></h5>
						<div class="starShelf">
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<h5>3,600</h5>
							<img src="addto.png" />
						</div>
					</div>
				</article>
				<article class="itemContainer">
					<div class="imgShelf">
						<img
							src="jurdan.jpg"
							class="productImg"
						/>
						<div class="imgBanner">
							<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
						</div>
					</div>
					<div class="productDetail">
						<p>jurdan Shoes Pag suot mo to wala ka talo</p>
						<h1><span>₱</span>100</h1>
						<h4><span>₱</span>500</h4>
						<h5>50k+<span>sold</span></h5>
						<div class="starShelf">
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<h5>3,600</h5>
							<img src="addto.png" />
						</div>
					</div>
				</article>
				<article class="itemContainer">
					<div class="imgShelf">
						<img
							src="jurdan.jpg"
							class="productImg"
						/>
						<div class="imgBanner">
							<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
						</div>
					</div>
					<div class="productDetail">
						<p>jurdan Shoes Pag suot mo to wala ka talo</p>
						<h1><span>₱</span>100</h1>
						<h4><span>₱</span>500</h4>
						<h5>50k+<span>sold</span></h5>
						<div class="starShelf">
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<h5>3,600</h5>
							<img src="addto.png" />
						</div>
					</div>
				</article>
				<article class="itemContainer">
					<div class="imgShelf">
						<img
							src="jurdan.jpg"
							class="productImg"
						/>
						<div class="imgBanner">
							<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
						</div>
					</div>
					<div class="productDetail">
						<p>jurdan Shoes Pag suot mo to wala ka talo</p>
						<h1><span>₱</span>100</h1>
						<h4><span>₱</span>500</h4>
						<h5>50k+<span>sold</span></h5>
						<div class="starShelf">
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<h5>3,600</h5>
							<img src="addto.png" />
						</div>
					</div>
				</article>
				<article class="itemContainer">
					<div class="imgShelf">
						<img
							src="jurdan.jpg"
							class="productImg"
						/>
						<div class="imgBanner">
							<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
						</div>
					</div>
					<div class="productDetail">
						<p>jurdan Shoes Pag suot mo to wala ka talo</p>
						<h1><span>₱</span>100</h1>
						<h4><span>₱</span>500</h4>
						<h5>50k+<span>sold</span></h5>
						<div class="starShelf">
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<h5>3,600</h5>
							<img src="addto.png" />
						</div>
					</div>
				</article>
			</section>
		</main>
		<aside class="recomProduct">
			<section class="carousell">
				<img
					src="j.jpeg"
					class="carousellImg"
				/>
			</section>
			<section class="recomShelf">
				<article class="categoryContainer">
					<img src="men.jpg" />
					<div>
						<h1>MensWear</h1>
					</div>
				</article>
				<article class="categoryContainer">
					<img src="men.jpg" />
					<div>
						<h1>MensWear</h1>
					</div>
				</article>
				<article class="categoryContainer">
					<img src="men.jpg" />
					<div>
						<h1>MensWear</h1>
					</div>
				</article>
				<article class="categoryContainer">
					<img src="men.jpg" />
					<div>
						<h1>MensWear</h1>
					</div>
				</article>
				<article class="categoryContainer">
					<img src="men.jpg" />
					<div>
						<h1>MensWear</h1>
					</div>
				</article>
				<article class="categoryContainer">
					<img src="men.jpg" />
					<div>
						<h1>MensWear</h1>
					</div>
				</article>
				<article class="categoryContainer">
					<img src="men.jpg" />
					<div>
						<h1>MensWear</h1>
					</div>
				</article>
				<article class="categoryContainer">
					<img src="men.jpg" />
					<div>
						<h1>MensWear</h1>
					</div>
				</article>
			</section>
		</aside>
		<footer>
		  <img src="sitaw.png">
			<p>&copy; 2024 CITAW. All rights reserved.</p>
		</footer>
	</body>
</html>
