<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="main.css"
		/>
		<title>CITAW</title>
	</head>
	<body>
		<header class="nav">
			<img
				src="images/logo.png"
				class="logo"
			/>
			<h1>SITAW</h1>
			<form>
				<input
					type="text"
					placeholder="Search"
				/>
				<img src="icons/search.png" />
			</form>
			<div>
				<img src="icons/cartPic.png" />
				<span>1</span>
			</div>
			<img
				src="images/j.jpeg"
				class="userImg"
			/>
		</header>
		<section class="main_page_layout">
			<main>
				<section class="product_layout">
					<article class="itemContainer">
						<div class="imgContainer">
							<img
								src="images/jurdan.jpg"
								class="productImg"
							/>
							<div class="imgBanner">
								<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
							</div>
						</div>
						<div class="productDetail">
							<p>jurdan Shoes Pag suot mo to wala ka talo</p>
							<h1><span>₱</span>100</h1>
							<h4><span>₱</span>500</h4>
							<h5>50k+<span>sold</span></h5>
							<div class="starShelf">
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<h5>3,600</h5>
								<img src="icons/addto.png" />
							</div>
						</div>
					</article>
					<article class="itemContainer">
						<div class="imgContainer">
							<img
								src="images/jurdan.jpg"
								class="productImg"
							/>
							<div class="imgBanner">
								<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
							</div>
						</div>
						<div class="productDetail">
							<p>jurdan Shoes Pag suot mo to wala ka talo</p>
							<h1><span>₱</span>100</h1>
							<h4><span>₱</span>500</h4>
							<h5>50k+<span>sold</span></h5>

							<div class="starShelf">
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<h5>3,600</h5>
								<img src="icons/addto.png" />
							</div>
						</div>
					</article>
					<article class="itemContainer">
						<div class="imgContainer">
							<img
								src="images/jurdan.jpg"
								class="productImg"
							/>
							<div class="imgBanner">
								<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
							</div>
						</div>
						<div class="productDetail">
							<p>jurdan Shoes Pag suot mo to wala ka talo</p>
							<h1><span>₱</span>100</h1>
							<h4><span>₱</span>500</h4>
							<h5>50k+<span>sold</span></h5>
							<div class="starShelf">
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<h5>3,600</h5>
								<img src="icons/addto.png" />
							</div>
						</div>
					</article>
					<article class="itemContainer">
						<div class="imgContainer">
							<img
								src="images/jurdan.jpg"
								class="productImg"
							/>
							<div class="imgBanner">
								<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
							</div>
						</div>
						<div class="productDetail">
							<p>jurdan Shoes Pag suot mo to wala ka talo</p>
							<h1><span>₱</span>100</h1>
							<h4><span>₱</span>500</h4>
							<h5>50k+<span>sold</span></h5>
							<div class="starShelf">
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<h5>3,600</h5>
								<img src="icons/addto.png" />
							</div>
						</div>
					</article>
					<article class="itemContainer">
						<div class="imgContainer">
							<img
								src="images/jurdan.jpg"
								class="productImg"
							/>
							<div class="imgBanner">
								<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
							</div>
						</div>
						<div class="productDetail">
							<p>jurdan Shoes Pag suot mo to wala ka talo</p>
							<h1><span>₱</span>100</h1>
							<h4><span>₱</span>500</h4>
							<h5>50k+<span>sold</span></h5>
							<div class="starShelf">
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<h5>3,600</h5>
								<img src="icons/addto.png" />
							</div>
						</div>
					</article>
					<article class="itemContainer">
						<div class="imgContainer">
							<img
								src="images/jurdan.jpg"
								class="productImg"
							/>
							<div class="imgBanner">
								<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
							</div>
						</div>
						<div class="productDetail">
							<p>jurdan Shoes Pag suot mo to wala ka talo</p>
							<h1><span>₱</span>100</h1>
							<h4><span>₱</span>500</h4>
							<h5>50k+<span>sold</span></h5>
							<div class="starShelf">
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<h5>3,600</h5>
								<img src="icons/addto.png" />
							</div>
						</div>
					</article>
					<article class="itemContainer">
						<div class="imgContainer">
							<img
								src="images/jurdan.jpg"
								class="productImg"
							/>
							<div class="imgBanner">
								<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
							</div>
						</div>
						<div class="productDetail">
							<p>jurdan Shoes Pag suot mo to wala ka talo</p>
							<h1><span>₱</span>100</h1>
							<h4><span>₱</span>500</h4>
							<h5>50k+<span>sold</span></h5>
							<div class="starShelf">
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<h5>3,600</h5>
								<img src="icons/addto.png" />
							</div>
						</div>
					</article>
					<article class="itemContainer">
						<div class="imgContainer">
							<img
								src="images/jurdan.jpg"
								class="productImg"
							/>
							<div class="imgBanner">
								<marquee>BILI NA TANGJNA TO NAHIYA LA</marquee>
							</div>
						</div>
						<div class="productDetail">
							<p>jurdan Shoes Pag suot mo to wala ka talo</p>
							<h1><span>₱</span>100</h1>
							<h4><span>₱</span>500</h4>
							<h5>50k+<span>sold</span></h5>
							<div class="starShelf">
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<span>&#9733;</span>
								<h5>3,600</h5>
								<img src="icons/addto.png" />
							</div>
						</div>
					</article>
				</section>
			</main>
			<aside>
				<section class="carouselContainer">
					<img src="images/j.jpeg" />
				</section>

				<h1>Category</h1>
				<section class="categoryContainer">
					<article>
						<img src="images/men.jpg" />
						<div>
							<h1>MensWear</h1>
						</div>
					</article>
					<article>
						<img src="images/men.jpg" />
						<div>
							<h1>MensWear</h1>
						</div>
					</article>
					<article>
						<img src="images/men.jpg" />
						<div>
							<h1>MensWear</h1>
						</div>
					</article>
					<article>
						<img src="images/men.jpg" />
						<div>
							<h1>MensWear</h1>
						</div>
					</article>
					<article>
						<img src="images/men.jpg" />
						<div>
							<h1>MensWear</h1>
						</div>
					</article>
					<article>
						<img src="images/men.jpg" />
						<div>
							<h1>MensWear</h1>
						</div>
					</article>
					<article>
						<img src="images/men.jpg" />
						<div>
							<h1>MensWear</h1>
						</div>
					</article>
					<article>
						<img src="images/men.jpg" />
						<div>
							<h1>MensWear</h1>
						</div>
					</article>
				</section>
			</aside>
		</section>
		<footer>
			<p>&copy; 2024 CITAW. All rights reserved.</p>
		</footer>
	</body>
</html>
