* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* :root = rootSelector (for CSS variables) */
:root {
	--primary-font: Arial;
	--text-color: #1e1e1e;
	--primary-color: rgba(211, 254, 196, 0.344);
	--secondary-color: rgba(85, 222, 10, 0.392);
	--tertiary-color: #ffffffab;
	--accent-color: rgba(211, 254, 196, 0.344);
	--shadow: 1px 1px 20px rgba(0, 0, 0, 0.173);
	--input-color: #e5e5e5;
}

/* body = bodyTag (for the main page layout) */
body {
	position: relative;
	font-family: var(--primary-font);
	background: var(--primary-color);
}

/* main_page_layout = sectionTag (for the main content layout) */
.main_page_layout {
	display: grid;
	justify-content: center;
	grid-template-columns: 4fr 2fr;
	grid-template-rows: 100px 50dvh;
	height: 100dvh;
	gap: 10px;
}

/* main = mainTag (for the main content area) */
main {
	grid-column: 1;
	grid-row: 2;
	border-radius: 20px;
	background: var(--tertiary-color);
	box-shadow: var(--shadow);
	overflow: hidden;
}

/* product_layout = sectionTag (for the layout of the products) */
.product_layout {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50dvh;
	padding: 10px;
	gap: 10px;
	overflow: scroll;
}

/* itemContainer = articleTag (for individual product items) */
.itemContainer {
	flex-grow: 1;
	height: 400px;
	width: 300px;
	border-radius: 20px;
	box-shadow: var(--shadow);
}

/* imgContainer = divTag (for the product image container) */
.imgContainer {
	position: relative;
	height: 200px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

/* productImg = imgTag (for the product image) */
.productImg {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
/* imgBanner = divTag (for the promotional banner) */
.imgBanner {
	position: absolute;
	display: grid;
	place-items: center;
	bottom: 0;
	height: 50px;
	width: 100%;
	font-size: 2rem;
	color: white;
	background: rgba(141, 141, 141, 0.5);
}

/* productDetail = divTag (for the details of the product) */
.productDetail {
	position: relative;
	display: grid;
	place-items: left center;
	gap: 10px;
	padding: 20px;
	grid-template-columns: 100px 50px 70px auto;
	grid-template-rows: 50px 50px 50px;
}

/* Product name */
.productDetail > p {
	text-align: justify;
	font-size: 22px;
	font-weight: 600;
	grid-column: 1 / 6;
	grid-row: 1;
}

/* price */
.productDetail > h1 {
	font-size: 3em;
	font-weight: 600;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

h1 > span {
	font-size: 1.7rem;
}

/* discount */
.productDetail > h4 {
	padding-top: 20px;
	font-size: 1.5rem;
	font-weight: 400;
	opacity: 90%;
	color: gray;
	text-decoration: line-through;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

/* how many are product sold */
.productDetail > h5 {
	text-align: left;
	padding-top: 23px;
	font-size: 1.3rem;
	font-weight: 400;
	color: gray;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

h5 > span {
	font-size: 1rem;
}

/* add to cart icon */
.starShelf > img {
	position: absolute;
	right: 0;
	bottom: 15px;
	height: 60px;
	width: 60px;
}

/* stars review */
/* starShelf = divTag (for the product rating and add to cart option) */
.starShelf {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-column: 1 / 7;
	grid-row: 3 / 4;
}
/* numbers of review */
/* starShelf > span = spanTag (for the star icons representing ratings) */
.starShelf > span {
	font-size: 2rem;
	color: #07070795;
	text-shadow: 1px 1px 1px #00000052;
}

/* starShelf > h5 = h5Tag (for the number of ratings) */
.starShelf > h5 {
	color: #8080808a;
	font-size: 1rem;
	padding: 15px 0 0 10px;
}

/* aside = sectionTag (for the main content layout) */
aside {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	padding: 10px;
	border-radius: 20px;
	background: var(--tertiary-color);
	box-shadow: var(--shadow);
	overflow: hidden;
}

/* carouselContainer = sectionTag (for the image carousel section) */
.carouselContainer {
	height: 50%;
	width: 100%;
	overflow: hidden;
}

/* carouselContainer > img = imgTag (for the images in the carousel) */
.carouselContainer > img {
	height: 100%;
	width: 100%;
	border-radius: 20px;
	object-fit: cover;
	object-position: center;
}

/* categoryContainer = sectionTag (for the category listings) */
.categoryContainer {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
	padding: 5px;
	overflow: scroll;
}

/* aside > h1 = h1Tag (for the title in the aside section) */
aside > h1 {
	align-self: center;
	text-align: center;
	width: 100%;
	font-size: 3.5dvw;
	border-radius: 10px;
	box-shadow: var(--shadow);
	background: rgba(141, 141, 141, 0.5);
}

/* categoryContainer > article = articleTag (for individual category items) */
.categoryContainer > article {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 150px;
	width: 40%;
	gap: 10px;
	border-radius: 10px;
	box-shadow: var(--shadow);
	overflow: hidden;
}

/* categoryContainer > article > img = imgTag (for the category image) */
.categoryContainer > article > img {
	height: 70%;
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
	object-position: top;
}

/* categoryContainer > article > div > h1 = h1Tag (for the category title) */
.categoryContainer > article > div > h1 {
	font-size: 2dvw;
	text-align: center;
}

/* header = headerTag (for the page header containing the logo and title) */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 20px;
	height: 100px;
	width: 100dvw;
	background: var(--secondary-color);
	box-shadow: var(--shadow);
}

/* header > img = imgTag (for the logo in the header) */
header > .logo {
	height: 6dvh;
	width: 9dvw;
}

/* header > form = formTag (for the search functionality in the header) */
header > form {
	display: grid;
	place-items: center;
	position: relative;
	width: 30%;
}

/* header > form > input = inputTag (for the search text input) */
header > form > input {
	height: 50px;
	width: 100%;
	font-size: 1.7dvh;
	padding-left: 20px;
	border-radius: 999px;
	border: none;
	outline: none;
	background: var(--input-color);
}

/* header > form > img = imgTag (for the search icon in the header) */
header > form > img {
	position: absolute;
	right: 10px;
	height: 40px;
	width: 10%;
}

/* header > div = divTag (for the cart icon and item count) */
header > div {
	position: relative;
	width: 70px;
}

/* header > div > img = imgTag (for the shopping cart icon) */
header > div > img {
	height: 50px;
	width: 60px;
}

/* header > div > span = spanTag (for displaying the number of items in the cart) */
header > div > span {
	display: inline-block;
	display: grid;
	place-items: center;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 700;
	color: white;
	background: red;
	border-radius: 50%;
	width: 2dvw;
}

/* header > .userImg = imgTag (for the user profile image) */
header > .userImg {
	height: 50px;
	width: 10%;
	border-radius: 50%;
}

/* header > h1 = h1Tag (for the title in the header) */
header > h1 {
	font-size: 5dvw;
	color: white;
}

/* footer = footerTag (for the footer section of the page) */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100dvw;
	background: var(--secondary-color);
	box-shadow: var(--shadow);
}

/* footer > p = pTag (for the footer text) */
footer > p {
	font-size: 2.5vw;
	color: white;
}
