<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="login_register.css"
		/>
		<title>Register</title>
	</head>
	<body>
		<header>
			<img src="images/logo.png" />
			<h1>CITAW</h1>
		</header>
		<section class="register_page_layout">
			<main class="registerContainer">
				<form class="registerForm">
					<h1>Register</h1>
					<input
						type="text"
						placeholder="Firstname"
					/>
					<input
						type="text"
						placeholder="LastName"
					/>
					<input
						type="text"
						placeholder="gender"
					/>
					<input
						type="text"
						placeholder="age"
					/>
					<input
						type="email"
						placeholder="email"
					/>

					<a
						class="loginButton"
						href="main.html"
						>Login</a
					>
					<a
						class="registerButton"
						href="index.html"
						>I already Have an account</a
					>
				</form>
			</main>
		</section>
		<footer>
			<p>&copy; 2024 CITAW. All rights reserved.</p>
		</footer>
	</body>
</html>
